<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/start.css">
    <link rel="stylesheet" href="/css/module/start.css">
    <link rel="stylesheet" href="/css/module/form.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo_black.png" alt="로고 이미지">
    </header>

    <main class="l-main">
        <h1 class="title">회원가입 방법</h1>

        <section class="button-group u-mt-5">
            <button class="button" type="button">구글</button>
            <button class="button u-mt-1" type="button" onclick="location.href='/join/email'">이메일</button>
        </section>
    </main>
</body>
</html>