<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/start.css">
    <link rel="stylesheet" href="/css/module/start.css">
    <link rel="stylesheet" href="/css/module/form.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo_black.png" alt="로고 이미지">
    </header>

    <main class="l-main">
        <h1 class="title title-slim">이메일 로그인</h1>

        <form class="form u-mt-5">
            <input class="input-text" type="text" placeholder="아이디">
            <hr class="hr-width u-mb-5">

            <input class="input-text" type="password" placeholder="비밀번호">
            <hr class="hr-width u-mb-2dot5">

            <a class="u-mb-2dot5" href="#">비밀번호를 잊으셨나요?</a>
            <button class="button button-small" type="submit">로그인</button>
            <div class="checkbox-container">
                <input class="checkbox" type="checkbox" id="save">
                <label for="save">로그인 정보 저장</label>
            </div>
        </form>
    </main>
</body>
</html>