<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/start.css">
    <link rel="stylesheet" href="/css/module/start.css">
    <link rel="stylesheet" href="/css/module/form.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo_black.png" alt="로고 이미지">
    </header>

    <main class="l-main">
        <h1 class="title title-slim">사용자 정보 입력</h1>

        <form class="form u-mt-5" action method="post" th:object="${userInfoDto}">
            <input class="input-text" type="text" placeholder="닉네임" th:field="*{username}">
            <hr class="hr-width u-mb-5">
            <input class="input-text" type="text" placeholder="연령" th:field="*{age}">
            <hr class="hr-width u-mb-2dot5">
            <select class="selectbox u-mb-2dot5" th:field="*{memberType}">
                <option value="">회원유형</option>
                <option th:each="memberType : ${memberTypes}" th:value="${memberType.name()}" th:text="${memberType.description}">초등학생</option>
            </select>
            <button class="button button-small" type="submit">확인</button>
        </form>
    </main>
</body>
</html>