.l-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: 2rem;
    margin-top: 1.25rem;
}

.l-nav {
    display: flex;
    flex-direction: row;

    align-items: center;
    flex-wrap: wrap;
}

.l-a {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.l-section {
    display: flex;
    flex-direction: column;
}