<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/start.css">
    <link rel="stylesheet" href="/css/module/start.css">
    <link rel="stylesheet" href="/css/module/form.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo_black.png" alt="로고 이미지">
    </header>

    <main class="l-main">
        <h1 class="title title-slim u-mb-5">이메일 회원가입</h1>

        <form class="form" action method="post" th:object="${emailJoinDto}">
            <input class="input-text" type="text" placeholder="이메일 아이디" th:field="*{emailId}">
            <hr class="hr-width u-mb-5">
            <input class="input-text" type="password" placeholder="비밀번호" th:field="*{password}">
            <hr class="hr-width u-mb-5">
            <input class="input-text" type="password" placeholder="비밀번호 확인" th:field="*{passwordCheck}">
            <hr class="hr-width u-mb-2dot5">
            <button class="button button-small" type="submit">인증코드 전송</button>
        </form>
    </main>
</body>
</html>