<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/common.css">
    <link rel="stylesheet" href="/css/module/start.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <img class="logo" src="/img/logo_black.png" alt="로고 이미지">
    </header>

    <main class="l-main">
        <h1 class="title title-slim u-mb-5">이메일 회원가입</h1>

        <form class="form" action method="post" th:object="${emailCodeDto}">
            <input class="input-text" type="text" placeholder="인증코드 입력" th:field="*{emailCode}">
            <hr class="hr-width u-mb-5" th:unless="${param.resend}">
            <hr class="hr-width u-mb-2dot5" th:if="${param.resend}">
            <p th:if="${param.resend}" th:text="'인증코드가 재전송 되었습니다.'" class="u-mb-2dot5"></p>
            <button class="button button-small" type="submit">확인</button>
        </form>

        <form class="form u-mt-1" action="/join/email/resend" method="post">
            <button class="button button-small" type="submit">재전송</button>
        </form>
    </main>
</body>
</html>