<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recordium</title>
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/layout/common.css">
    <link rel="stylesheet" href="/css/module/home.css">
    <link rel="stylesheet" href="/css/util/util.css">
</head>
<body>
    <header>
        <nav>
            <ul class="l-nav nav u-pl-5 u-pr-5">
                <li><a href="/home">홈</a></li>
                <li><a href="/community">커뮤니티</a></li>
                <li><a href="/groupstudy">그룹스터디</a></li>
                <li><a href="/rank">랭킹</a></li>
                <li><a href="/subscribe">구독</a></li>
                <li><a href="/setting">설정</a></li>
                <li><a href="/calendar">캘린더</a></li>
                <li class="u-ml-auto"> <a class="l-a" href="/mypage">
                    <img src="/img/human.png" alt="사람이미지">
                    <span>마이페이지</span>
                </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="l-section u-m-5">
            <p class="day">1월 8일 목</p>
            <p class="title text-center u-mt-5">현재 공부 시간</p>
            <p class="subject text-center bold u-mt-2dot5">컴퓨터 구조</p>
            <div class="button-group">
                <button class="img-button u-mr-2 dummy-btn" type="button">
                    <img src="/img/pause.png">
                </button>
                <p class="time">00:27:44</p>
                <button class="img-button u-ml-2 stop-btn" type="button">
                    <img src="/img/pause.png" alt="정지 버튼">
                </button>
                <button class="img-button u-ml-2 replay-btn" type="button">
                    <img src="/img/replay.png" alt="재생 버튼">
                </button>
            </div>
        </section>

        <section class="u-m-5">
            <p class="ai-message">AI 응원 메시지</p>
            <button class="button u-mt-1 u-mb-1" type="button">과목 상세</button>
            <section>
                <div class="span-group">
                    <span>컴퓨터 구조</span>
                    <span>04:00:00</span>
                </div>
                <div class="span-group">
                    <span>컴퓨터 네트워크</span>
                    <span>02:00:00</span>
                </div>
                <div class="span-group">
                    <span>데이터베이스 시스템</span>
                    <span>00:50:00</span>
                </div>
                <div class="span-group">
                    <span class="u-mt-1">총 공부 시간</span>
                    <span>06:50:00</span>
                </div>
            </section>
        </section>

        <aside class="support">
            <button class="u-mr-5" type="button">후원하기</button>
        </aside>
    </main>

    <script src="/js/home.js"></script>
</body>
</html>