.button {
    width: 20rem;
    height: 5rem;

    font-size: 1.25rem;

    border: none;

    color: #413d3d;
    background-color: #d9d9d9;
}

.button-small {
    width: 20rem;
    height: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-text {
    width: 35rem;
    height: 5rem;

    border: none;

    background-color: #b3b3b3;
}

.input-text::placeholder {
    text-align: center;
}

.checkbox-container {
    display: flex;
    flex-direction: row;

    margin-top: 2.5vh;
}

.checkbox {
    zoom: 1.75;
    accent-color: #b3b3b3;
}