.nav {
    font-size: 2.5rem;
    column-gap: 5vh;

    list-style-type: none;

    background-color: #ffffff;
}

.day {
    font-size: 2.5rem;
}

.title {
    font-size: 2.5rem;
}

.button-group {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.span-group {
    font-size: 1.25rem;

    display: grid;
    grid-template-columns: 20rem 1fr;
}

.img-button {
    width: 7rem;
    height: 7rem;

    background-color: #b3b3b3;
    border: none;
}

.button {
    font-size: 1.25rem;

    color: #413d3d;
    background-color: #b3b3b3;
    border: none;
}

.subject {
    font-size: 1.25rem;
}

.time {
    font-size: 5rem;
}

.ai-message {
    font-size: 2.5rem;
}

.support {
    display: flex;
    justify-content: flex-end;
}

.support button {
    width: 10rem;
    height: 4rem;

    font-size: 1.25rem;
    border: none;

    color: #413d3d;
    background-color: #d9d9d9;
}