.button {
    width: 20rem;
    height: 5rem;

    font-size: 1.25rem;

    border: none;

    color: #413d3d;
    background-color: #d9d9d9;
}

.button-small {
    width: 20rem;
    height: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-text {
    width: 35rem;
    height: 5rem;

    text-align: center;

    border: none;

    color: #413d3d;
    background-color: #b3b3b3;
}

.input-text::placeholder {
    text-align: center;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
}

.checkbox {
    zoom: 1.75;
    accent-color: #b3b3b3;
}

.selectbox {
    font-size: 1.25rem;

    border: none;

    color: #413d3d;
    background-color: #b3b3b3;
}

.title {
    font-size: 4rem;
}

.title-slim {
    font-size: 3rem;
    font-weight: 400;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.hr-width {
    width: 35rem;
}