.intro-title, .start-title {
    font-size: 4rem;
}

.intro-title {
    color: #ffffff;
}

.intro-buttons, .start-buttons {
    display: flex;
    flex-direction: column;

    margin-top: 5vh;
}

.login-button, .join-button, .google-button, .email-button {
    width: 20rem;
    height: 5rem;

    font-size: 1.25rem;
}

.join-button, .email-button {
    margin-top: 1vh;
}